body{
    max-width: 1270px;
    background-color: bisque;
    margin: 0 auto;
}

.hero-container{
display: flex;
gap: 40px;
align-items: center;
background-color: rgb(179, 255, 255);
padding: 20px;
font-size: 1.2em;
border-radius: 15px;
}
.hero-container button{
    background-color: lightgreen;
    padding: 10px 30px;
    font-size: 2em;
    border-radius: 10px;
    cursor: pointer;
}
.hero-container button:hover{
    background-color: chocolate;
}
.hero-container img{
    width: 100%;
}

