body{
    max-width: 1170px;
    background-color: rgb(255, 254, 252);
    margin: 0 auto;
}
.card{
    width: 300px;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(71, 57, 57);
    text-align: left;


}
.card-section{
    text-align: center;

}
.card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.card:hover{
    background-color: aquamarine;
}
.card h3{
    font-size:1.25em ;
    font-weight: 700;
}
.card img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(138, 142, 146);
}
.card button{
     background-color: rgb(110, 242, 247);
    padding: 10px 20px;
    font-size: 2em;
    border-radius: 10px;
    cursor: pointer;
}