nav {}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    
    margin-right: 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: lightgray;
}